<section class="Welcome">
  <img class="SKLogo" draggable="false" src="assets/AnimatedSkeleton.svg" alt="">
  <h1 class="Heading">Web Components — Now.</h1>
  <p>
    Takee the future and start building your progressive web apps with Polymer Skeleton, the most advanced Polymer starter kit.
  </p>

  <sk-button on-click="startTour">Take a tour</sk-button>
</section>

<dom-if if=[[updateReady]]>
  <template>
    <sk-button on-click="reload" class="UpdateReadyAlert">Update ready, reload!</sk-button>
  </template>
</dom-if>

<mad-sidebar></mad-sidebar>

<aside class="Meta">
  v[[appVersion]] - ENV: [[ENV]]
</aside>
