.Header {
  font-family: var(--typography-fontFamily);
  font-size: 2.425em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #19224C;
}
