<svg xmlns="http://www.w3.org/2000/svg" width="185" height="97" viewBox="0 0 185 97">
    <g fill-rule="evenodd">
        <rect stroke="none" width="185" height="27" y="70"  rx="2"/>
        <rect stroke="none" width="185" height="27" y="35" rx="2"/>
        <rect stroke="none" width="185" height="27" rx="2"/>
        <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M169 17l3.5-3.5L169 10M169 52l3.5-3.5L169 45M169 87l3.5-3.5L169 80"/>
    </g>
</svg>
