.App {
  width: 100vw;
  float: left;
  border-right: solid 1px #E2E3E8;
}

.SidebarContainer {
  width: 242px;
  border-right: solid 1px #E2E3E8;
  height: 100vh;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
.MainContainer {
  width: calc(100% - 243px);
  margin-left: 243px;
  float: left;
}
