<svg width="182px" height="102px" viewBox="0 0 182 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Keuzerondjes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect fill="#FFFFFF" x="0" y="0" width="182" height="102"></rect>
        <rect id="Rectangle" fill="#BABCC9" fill-rule="nonzero" x="0" y="0" width="182" height="31" rx="2"></rect>
        <rect id="Rectangle" fill="#BABCC9" fill-rule="nonzero" x="0" y="36" width="182" height="30" rx="2"></rect>
        <rect id="Rectangle" fill="#BABCC9" fill-rule="nonzero" x="0" y="71" width="182" height="31" rx="2"></rect>
        <rect id="Rectangle-path-Copy" stroke="#FFFFFF" stroke-width="2" x="162" y="82" width="9" height="9" rx="4.5"></rect>
        <rect id="Rectangle-path-Copy-2" stroke="#FFFFFF" stroke-width="2" x="162" y="11" width="9" height="9" rx="4.5"></rect>
        <rect id="Rectangle-path-Copy-3" stroke="#FFFFFF" stroke-width="2" fill="#FFFFFF" x="162" y="47" width="9" height="9" rx="4.5"></rect>
    </g>
</svg>
