<svg xmlns="http://www.w3.org/2000/svg" width="185" height="97" viewBox="0 0 185 97">
    <g fill-rule="evenodd">
        <rect stroke="none" width="185" height="27" y="70" rx="2"/>
        <rect stroke="none" width="185" height="27" y="35" rx="2"/>
        <rect stroke="none" width="185" height="27" rx="2"/>
        <rect fill="none" width="11" height="11" x="166" y="8" stroke="#FFF" stroke-width="2" rx="2"/>
        <rect fill="none" width="11" height="11" x="166" y="43" stroke="#FFF" stroke-width="2" rx="2"/>
        <rect fill="none" width="11" height="11" x="166" y="78" stroke="#FFF" stroke-width="2" rx="2"/>
    </g>
</svg>
