<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="127" height="51" viewBox="0 0 127 51">
    <defs>
        <circle stroke="none"  id="b" cx="14" cy="22" r="14"/>
        <filter id="a" width="210.7%" height="210.7%" x="-55.4%" y="-30.4%" filterUnits="objectBoundingBox">
            <feOffset dy="7" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="4"/>
            <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
        </filter>
    </defs>
    <g fill-rule="evenodd" transform="translate(8)">
        <rect stroke="none" width="90" height="45" x="13" rx="2"/>
        <use fill="#000" filter="url(#a)" xlink:href="#b"/>
        <use xlink:href="#b"/>
        <rect stroke="none" width="10" height="10" x="9" y="17" fill="#FFF" rx="2"/>
        <text stroke="none" fill="#FFF" font-family="HKGrotesk-Bold, HK Grotesk" font-size="15" font-weight="bold" letter-spacing="-.132">
            <tspan x="38.376" y="27">Einde</tspan>
        </text>
    </g>
</svg>
