<svg xmlns="http://www.w3.org/2000/svg" width="185" height="97" viewBox="0 0 185 97">
    <g  fill-rule="evenodd">
        <rect stroke="none" width="185" height="27" y="70" rx="2"/>
        <rect stroke="none" width="185" height="64" rx="2"/>
        <g transform="translate(71 15)">
            <rect stroke="none"  width="34" height="34" fill="#FFF" rx="17"/>
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M23.415 16.436l-8.592-5.27a1.19 1.19 0 0 0-1.21-.003A1.25 1.25 0 0 0 13 12.231v10.538c.005.442.238.849.613 1.068a1.19 1.19 0 0 0 1.21-.004l8.592-5.27A1.25 1.25 0 0 0 24 17.5a1.25 1.25 0 0 0-.585-1.064z"/>
        </g>
        <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M169 87l3.5-3.5L169 80"/>
    </g>
</svg>
