.Sidebar {
  width: 100%;
  float: left;
  height: 100%;
  background-color: #FFF;
}
.Heading {
  width: calc(100% - 78px);
  margin: 52px 39px 47px 39px;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: #19224C;
}
